{% extends 'myLezgo/base.html' %}
{% load static %}

{% block content %}
	<div class="wrapper">
		<div class="container">
			<div class="infohead">
				<h1>{{ car.name }}</h1>
				<img class="headphoto" src="{{ car.image.url }}">
				<div class="extraphoto">
					<img src="images/lambo1.jpg">
					<img src="images/lambo2.jpg">
					<img src="images/lambo4.jpg">
					<img src="images/lambo3.jpg">	
				</div>
			</div>
			<div class="info">
				<h2>Technical Specifications</h2>
				<ul>
					<li>
						<span class="span1">Type</span>
						<span class="span2">{{ car.place }} door coupe</span>
					</li>
					<li>
						<span class="span1">Fuel</span>
						<span class="span2">85L, Supreme</span>
					</li>
					<li>
						<span class="span1">DISPLACEMENT</span>
						<span class="span2">6,498 cm³, V12</span>
					</li>
					<li>
						<span class="span1">MAX. POWER</span>
						<span class="span2">566 kW (770 hp) at 8,500 rpm</span>
					</li>
					<li>
						<span class="span1">TOP SPEED</span>
						<span class="span2">>{{ car.max_speed }} km/h</span>
					</li>
					<li>
						<span class="span1">0-100 KM/H</span>
						<span class="span2">2.8 s</span>
					</li>
					<li>
						<span class="span1">1/4 mile</span>
						<span class="span2">10.6s @131 mph</span>
					</li>
					<li>
						<span class="span1">TRANSMISSION</span>
						<span class="span2">{{ car.drive_unit }}, 7 speed</span>
					</li>
					<li>
						<span class="span1">FUEL CONSUPTION</span>
						<span class="span2">31L~19.6L~13L</span>
					</li>
					<li>
						<span class="span1"></span>
						<span class="span2"></span>
					</li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}