{% extends 'myLezgo/base.html' %}
{% load static %}

{% block content %}

    <div class="home">
        <div class="container">
            <div class="promotions">
                <h1>Promotions</h1>
                <p>There is a reason why we come under the leading car rental companies in Dubai.
                    As a team of knowledgeable car enthusiasts, we understand that the market has a broad range to offer consumers,
                    and as such we take it a notch higher by offering the best to you in the form of our car rental promotions.
                    The team constantly strives to bring to you only the best combination of pricing, quality, and service.
                    Unlike other competitors in the market, we ensure these are completely transparent, where what you see is what you get!
                    There are no hidden costs.
                    <br><br>
                    Currently, we are running special deals such as the Rent for three days and get two days car rental free,
                    rental car promotions for teachers in Dubai, and a slice on the price of the Nissan car rental.
                    Our car rental process is made extremely hassle-free and straightforward, where both tourists and
                    residents only need a minimum set of documents for the paperwork. Call us today to avail of one of
                    these car rental promotions or to for further details.
                </p>
                <h3>Rent for 3 Days and Get 2 Days Free</h3>
                <img src="{% static 'myLezgo/images/promotion1.png' %}">
            </div>
        </div>
    </div>

{% endblock %}