{% extends 'myLezgo/base.html' %}
{% load static %}

{% block content %}

	<div class="home">
		<div class="container">
			<div class="text">A
				<img src="{% static 'myLezgo/images/logo2.png' %}" alt="img">
				<h1>-   №1 auto rent</h1>
			</div>
			<div class="map">
				<img src="{% static 'myLezgo/images/circle.png' %}" alt="img">
				<p>Indicate location</p>
				<img src="{% static 'myLezgo/images/arrow.png' %}" alt="img">
				<p>Choose the transport</p>
				<img src="{% static 'myLezgo/images/arrow.png' %}" alt="img">
				<p>Specify the payment method</p>
				<img src="{% static 'myLezgo/images/arrow.png' %}" alt="img">
				<p>Add your wishes</p>
			</div>
			<div class="button">
				<a href="{% url 'order' %}">start</a>
			</div>
		</div>
	</div>

{% endblock %}